<div class="page-inner">
  <h1 class="wishlist__title">WISHLIST</h1>
  <div class="wishlist__filter">
    <p class="wishlist__filter-label">SORT BY :</p>

    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Set"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Type"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Rarity"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Color"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="CCM"
      (valueChange)="onSortChange($event)">
    </app-select>
  </div>

  <div class="wishlist__container gradient-border-lg">
    <div class="wishlist__wrapper">
      @for (card of cards.length ? cards : []; track $index) {
        <div class="Card">
          <img [src]="card.image" alt="" />
        </div>
      } @empty {
        <div class="wishlist__empty">
          <h3 class="wishlist__subtitle">You have no items in your Wishlist.</h3>
          <app-button class="Button">Back to cards</app-button>
        </div>
      }
    </div>
  </div>

  <app-pager
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pager>
</div>
