<div class="page-inner">
  <h1 class="wishlist__title">WISHLIST</h1>
  <div class="wishlist__filter">
<!--    <p class="wishlist__filter-label">SORT BY :</p>-->

<!--    <app-select-->
<!--      [options]="setOptions"-->
<!--      placeholder="Set"-->
<!--      (valueChange)="onSetFilterChange($event)">-->
<!--    </app-select>-->
<!--    <app-select-->
<!--      [options]="types"-->
<!--      placeholder="Type"-->
<!--      (valueChange)="onTypeChange($event)">-->
<!--    </app-select>-->
  </div>

  <div class="wishlist__container gradient-border-lg">
    <div class="wishlist__wrapper">
      @if (cards) {
        @for (card of cards ; track card.id) {
          <div class="Card">
            <img [src]="card.imageSizeNormal" alt="" />
            <div class="wishlist__actions">
              <app-button (click)="removeWishlistItem(card)">Remove</app-button>
              <app-button (click)="goToCardDetail(card)">Details</app-button>
            </div>
          </div>
        } @empty {
          <div class="wishlist__empty">
            <h3 class="wishlist__subtitle">Your wishlist is empty.</h3>
            <app-button class="Button" (click)="redirectToCardsPage()">Back to cards</app-button>
          </div>
        }
      }
    </div>
  </div>

  <app-pager
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pager>
</div>
