<footer class="Footer gradient-border-top">
  <div class="Footer__content">
    <div class="Footer__section">
      <h2 class="Footer__title">MagicTrade</h2>
      <p class="Footer__text">Exchange, collect & play with passion.</p>
    </div>

    <div class="Footer__section">
      <h3 class="Footer__subtitle">Navigation</h3>
      <ul class="Footer__links">
        <li><a [routerLink]="['/cards']">Cards</a></li>
        <li><a [routerLink]="['/collection']">Collection</a></li>
        <li><a [routerLink]="['/login']">Sign in</a></li>
        <li><a [routerLink]="['/signup']">Sign up</a></li>
      </ul>
    </div>
  </div>

  <div class="Footer__bottom">
    <p>&copy; 2025 MagicTrade — All right reserved</p>
  </div>
</footer>
