<div class="page-inner">
  <h1 class="collection__title">My Collection</h1>

  <div class="collection__filter">
    <p class="collection__filter-label">SORT BY :</p>
  </div>

  <div class="collection__container gradient-border-lg">
    <div class="collection__wrapper">
      @for (collection of paginatedCollections; track collection.id) {
        <div class="Card">
          <img [src]="getCardImage(collection)" alt="Card image" class="Card__image" />
          <p class="Card__info__lang">Lang : {{ collection.lang }}</p>
          <div class="Card__info__state">
            <app-states [state]="collection.state"></app-states>
          </div>
          <div class="Card__actions">
            <app-button (click)="deleteItem(collection.id ? +collection.id : null)">Remove</app-button>
            <app-button (click)="goToCardDetail(collection)">Details</app-button>
          </div>
        </div>
      } @empty {
        <div class="collection__empty">
          <h3 class="collection__subtitle">
            Your binder is empty, planeswalker.<br />
            <span class="collection__hint">Visit the cards library to begin your journey.</span>
          </h3>
          <app-button (click)="goToCards()">Go to Card Library</app-button>
        </div>
      }
    </div>
  </div>

  <app-pager
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pager>
</div>
