<div class="Header">
  <div>
    <img class="Header-logo" src="dragon.png" alt="logo" />
  </div>

  <button class="Header-burger" (click)="toggleMenu()" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="Header-Nav-links" [ngClass]="{ open: menuOpen }">
    <a class="Nav-link">HOME</a>
    <a [routerLink]="['/cards']" class="Nav-link">CARDS</a>
    <a [routerLink]="['/traders']" class="Nav-link">TRADERS</a>
    <a class="Nav-link">WISHLIST</a>
    <a [routerLink]="['/collection']" class="Nav-link">COLLECTION</a>
    <a [routerLink]="['/signup']" class="Nav-link">SIGN UP</a>
    <a [routerLink]="['/login']" class="Nav-link">LOG IN</a>
  </nav>
</div>
