<form 
    class="auth-form"
    [formGroup]="signupForm"
>
    <div>
        <app-auth-text-input
            label="Email *"
            type="email"
            placeholder="chandra@example.com"
            [control]="signupForm.controls.email"
        />
        <app-input-errors [control]="signupForm.controls.email" />
    </div>
    <app-auth-text-input 
        label="Username *"
        type="text"
        placeholder="chandra93"
        [control]="signupForm.controls.username"
    />
    <app-auth-text-input 
        label="First name *"
        type="text"
        placeholder="Chandra"
        [control]="signupForm.controls.firstName"
    />
    <app-auth-text-input 
        label="Last name *"
        type="text"
        placeholder="Nalaar"
        [control]="signupForm.controls.lastName"
    />
    <app-auth-text-input 
        label="Country *"
        type="text"
        placeholder="France"
        [control]="signupForm.controls.country"
    />
    <app-auth-text-input 
        label="Department *"
        type="text"
        placeholder="Manche"
        [control]="signupForm.controls.department"
    />
    <app-auth-text-input 
        label="City *"
        type="text"
        placeholder="Tirepied-sur-Sée"
        [control]="signupForm.controls.city"
    />
    <app-auth-text-input 
        label="Password *"
        type="password"
        placeholder=""
        [control]="getControl('passwords.password')"
    />
    <app-auth-text-input 
        label="Confirm password *"
        type="password"
        placeholder=""
        [control]="getControl('passwords.passwordConfirm')"
    />
    <div class="input-errors">
        @if (signupForm.get('passwords')?.errors?.['passwordMismatch'] && signupForm.get('passwords')?.touched ) {
            <span>Passwords don't match</span>
        }
    </div>

    <app-button 
        type="submit"
        variant="secondary"
        [disabled]="!signupForm.valid"
    >
        Sign up
    </app-button>
</form>
