.Cards {
  &__title {
    @include heading1-poly;
    margin-block-end: 20px;
  }

  &__container {
    width: var(--collection-container-width);
    min-height: 500px;
  }

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    color: white;
    margin: 30px 0px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-img-width), 1fr));
    gap: 1.5rem;
    padding: 1rem;
    background: $background-black-color;
    min-height: 500px;
    justify-items: center;
  }
}
