/********************************************
************** SCSS Collection **************
********************************************/

// Card width
$collection-container-width--mobile: calc(100vw - 72px);
$collection-container-width--tablet: calc(100vw - 100px);
$collection-container-width--desktop: calc(100vw - 200px);

$collection-filter-flex-direction--mobile: column;
$collection-filter-flex-direction--tablet: row;

/********************************************
************** Custom properties ************
********************************************/

:root {
  --collection-container-width: #{$collection-container-width--mobile};
  --collection-filter-flex-direction: #{$collection-filter-flex-direction--mobile};

  @include breakpoint('tablet') {
    --collection-container-width: #{$collection-container-width--tablet};
    --collection-filter-flex-direction: #{$collection-filter-flex-direction--tablet};
  }

  @include breakpoint('desktop') {
    --collection-container-width: #{$collection-container-width--desktop};
  }
}

.collection {
  &__title {
    @include heading1-poly;
    margin-block-end: 20px;
  }

  &__container {
    width: var(--collection-container-width);
    min-height: 500px;
  }

  &__filter {
    width: var(--collection-container-width);
    display: flex;
    flex-direction: var(--collection-filter-flex-direction);
    align-items: center;
    gap: 0.5rem;
    color: white;
    margin: 30px 0px;

    &-label {
      @include paragraph("Poppins Regular");
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-img-width), 1fr));
    gap: 1.5rem;
    padding: 1rem;
    background: $background-black-color;
    min-height: 500px;
    justify-items: center;

    .Card {
      align-items: center;
      gap: 0.5rem;

      &__info {
        max-width: var(--card-img-width);

       &__lang {
         @include paragraph("Poppins Regular");

         display: inline-block;
         padding: 0.25rem 0.6rem;
         border-radius: 4px;
         font-weight: 700;
         font-size: 0.85rem;
         text-transform: uppercase;
         border: 1px solid rgba(255, 255, 255, 0.4);
         background: linear-gradient(145deg, #2b2b2b, #1a1a1a);
         box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
         color: #f5f5f5;
         letter-spacing: 0.5px;
         filter: drop-shadow(0px 0px 5px rgba($white-color, 0.6));
        }

        &__state {
          text-align: center;
        }
      }
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
  }

  &__subtitle {
    @include heading3-poppins;
  }

  &__hint {
    font-size: 1rem;
    color: #888;
  }
}

