.Signup {

  &__title {
    @include heading1-poly;
    margin-block-end: 20px;
  }

  &__login-link {
    @include paragraph('Poppins Regular');
    color: $secondary-color;

    &:hover {
      color: $primary-color;
    }
  }
}
