<div class="trader__container gradient-border-lg">
  <div class="trader__wrapper">
    <img
      class="trader__img"
      [src]="traderPreview().profilePicture"
      alt="photo du trader"
    />

    <p class="trader__name">{{ traderPreview().pseudo }}</p>

    @if (traderPreview().cardState) {
      <app-card-state [cardState]="traderPreview().cardState"></app-card-state>
    }

    <p class="trader__rate">Rate : {{ traderPreview().rate }} ⭐</p>

    <div>
      <app-button>Trade</app-button>
      <app-button>Profile</app-button>
    </div>
  </div>
</div>
