<div class="trader__container gradient-border-lg">
  <div class="trader__wrapper">
    <img class="Header-logo" [src]="traderPreview().profilePicture" alt="logo" />
    <p class="trader__name">{{ traderPreview().pseudo }}</p>
    @if (ownedCardState()) {
      <app-card-state [cardState]="ownedCardState()"></app-card-state>
    }
    <p class="trader__rate">Rate : {{ traderPreview().rate }} ⭐</p>
    <p class="trader__localisation">{{ traderPreview().location }} 📍</p>
    <div>
      <app-button>Trade</app-button>
      <app-button>Profile</app-button>
    </div>
  </div>
</div>
