<div class="Back">
    <app-form-input />
    <app-button />
    <app-states />
    <app-status />

    <h1 class="heading1-poppins">Test Heading 1</h1>
    <h2 class="heading2-poppins">Test Heading 2</h2>
    <h3 class="heading3-poppins">Test Heading 3</h3>
    <h4 class="heading4-poppins">Test Heading 4</h4>
    <h5 class="heading5-poppins">Test Heading 5</h5>
    <p class="paragraph-poppins">Paragraph Poppins</p>

    <h1 class="heading1-poly">Test Heading 1</h1>
    <h2 class="heading2-poly">Test Heading 2</h2>
    <h3 class="heading3-poly">Test Heading 3</h3>
    <h4 class="heading4-poly">Test Heading 4</h4>
    <h5 class="heading5-poly">Test Heading 5</h5>

    <p class="paragraph-poly">Paragraph Poly</p>
</div>
