@use "sass:map";

// Breakpoints
@mixin breakpoint($device, $breakpoints-system: $mt-breakpoint) {
  @if map.has-key($breakpoints-system, $device) {
    @media (min-width: #{map.get($breakpoints-system, $device)}px) {
      @content;
    }
  } @else {
    @content;
  }
}

// Custom Properties
:root {
  --heading1--font-size: #{$heading1--font-size--mobile};
  --heading2--font-size: #{$heading2--font-size--mobile};
  --heading3--font-size: #{$heading3--font-size--mobile};
  --heading4--font-size: #{$heading4--font-size--mobile};
  --heading5--font-size: #{$heading5--font-size--mobile};
  --paragraph--font-size: #{$paragraph--font-size--mobile};
  --navbar-font-size: #{$navbar-font-size--mobile};

  @include breakpoint("desktop") {
    --heading1--font-size: #{$heading1--font-size--desktop};
    --heading2--font-size: #{$heading2--font-size--desktop};
    --heading3--font-size: #{$heading3--font-size--desktop};
    --heading4--font-size: #{$heading4--font-size--desktop};
    --heading5--font-size: #{$heading5--font-size--desktop};
    --paragraph--font-size: #{$paragraph--font-size--desktop};
    --navbar-font-size: #{$navbar-font-size--desktop};
  }
}

// Poppins
@mixin heading1-poppins {
  font-family: "Poppins Bold", sans-serif;
  font-size: var(--heading1--font-size);
  font-weight: 700; // Bold
  text-transform: uppercase;
  color: $white-color;
}

@mixin heading2-poppins {
  font-family: "Poppins Bold", sans-serif;
  font-size: var(--heading2--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

@mixin heading3-poppins {
  font-family: "Poppins Bold", sans-serif;
  font-size: var(--heading3--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

@mixin heading4-poppins {
  font-family: "Poppins Bold", sans-serif;
  font-size: var(--heading4--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

@mixin heading5-poppins {
  font-family: "Poppins Bold", sans-serif;
  font-size: var(--heading5--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

// Poly
@mixin heading1-poly {
  font-family: "Poly Regular", serif;
  font-size: var(--heading1--font-size);
  font-weight: 700; // Bold
  text-transform: uppercase;
  color: $white-color;
}

@mixin heading2-poly {
  font-family: "Poly Regular", serif;
  font-size: var(--heading2--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

@mixin heading3-poly {
  font-family: "Poly Regular", serif;
  font-size: var(--heading3--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

@mixin heading4-poly {
  font-family: "Poly Regular", serif;
  font-size: var(--heading4--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

@mixin heading5-poly {
  font-family: "Poly Regular", serif;
  font-size: var(--heading5--font-size);
  font-weight: 600; // Semi bold
  color: $white-color;
}

@mixin paragraph($font-family) {
  font-family: $font-family;
  font-size: var(--paragraph--font-size);
  color: $white-color;
}

@mixin header {
  font-family: "Poppins", sans-serif;
  font-size: var(--navbar-font-size);
  font-weight: 700;
  color: $white-color;
}

@mixin gradient-border($border-radius) {
  background: linear-gradient(to right, $primary-color, $secondary-color) border-box;
  border-radius: $border-radius;
  border: 2px solid transparent;
  overflow: hidden;
}
