<div class="page-inner">
  <h1 class="filters__title">FILTERS</h1>
  <div class="filters__container gradient-border-lg">
    <div class="filters__wrapper">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <app-auth-text-input
          label="Card name"
          type="text"
          placeholder="Any words in the name, e.g. 'Fire'"
          [control]="searchForm.controls.cardName"
        />

        <app-auth-text-input
          label="Type Line"
          type="text"
          placeholder="Enter a type or choose from the list"
          [control]="searchForm.controls.typeLine"
        />

        <div formGroupName="colors">
          <app-auth-checkbox label="White" [control]="searchForm.controls.colors.controls.white" />
          <app-auth-checkbox label="Blue" [control]="searchForm.controls.colors.controls.blue" />
          <app-auth-checkbox label="Black" [control]="searchForm.controls.colors.controls.black" />
          <app-auth-checkbox label="Red" [control]="searchForm.controls.colors.controls.red" />
          <app-auth-checkbox label="Green" [control]="searchForm.controls.colors.controls.green" />
          <app-auth-checkbox label="Colorless" [control]="searchForm.controls.colors.controls.colorless" />
        </div>

        <app-auth-text-input
          label="Mana Cost"
          type="text"
          placeholder='Any mana symbols, e.g. "{W}{W}"'
          [control]="searchForm.controls.manaCost"
        />
        <app-button type="button" (click)="clearFilters()">Clear filters</app-button>
        <app-button type="submit">Search</app-button>
      </form>

    </div>
  </div>
</div>
