<div class="page-inner">

  @if (displayedCard) {
    <section class="card-container gradient-border-lg">
      <div class="card-wrapper">
        <div class="card__details">
          <div class="card__img-container">
            <div class="card__img-wrapper" [class.card-flipped]="!isFrontFace">
              <img
                class="card__img card__img--front"
                [src]="displayedCard.faces[0].imageUrl"
                alt=""
              />
              @if (displayedCard.isDoubleCard) {
                <img
                  class="card__img card__img--back"
                  [src]="displayedCard.faces[1].imageUrl"
                  alt=""
                />
              }
            </div>
            @if (authService.isLoggedIn()) {
              <app-wishlist-button
                [isWishlisted]="displayedCard.isWishlisted"
                (wishlistToggled)="onWishlistToggle($event)"
              />
            }

            @if (displayedCard.isDoubleCard) {
              <button
                class="card-flipper-btn"
                (click)="flipCard()"
                (keydown.enter)="flipCard()"
                (keydown.space)="flipCard()"
              >
                <img src="icons/flip-card.svg" />
              </button>
            }
          </div>

          <div class="card__info">
            <h2 class="card__info__title">{{ displayedCard.name?.toUpperCase() }}</h2>
            <p>
              <span class="card__info__label">Type : </span>
              {{ currentCardFace.typeLine }}
            </p>
            <p class="card__info__text">
              <span class="card__info__label">Text : </span>
              <span
                [innerHTML]="(currentCardFace.text ? currentCardFace.text : '') | newLineToParagraph">
              </span>
            </p>
            <p><span class="card__info__label">Set : </span>{{ displayedCard.setName ? displayedCard.setName : '' }}</p>
            <p><a [href]="displayedCard.cardMarketPrice" target="_blank">See on Cardmarket</a></p>
          </div>
        </div>

        @if (authService.isLoggedIn()) {
          <div class="card__actions">
            <app-button (click)="toggleAddCardModal()">Add to Collection</app-button>
          </div>
        }

      </div>
    </section>

<!--    <section class="card-owners">-->
<!--      <h2 class="card-owners__title">OWNERS</h2>-->
<!--      @for (owner of owners; track $index) {-->
<!--        <app-trader [traderPreview]=owner [ownedCardState]="owner.ownedCardState ?? false"></app-trader>-->
<!--      }-->
<!--    </section>-->
    <div class="traders__container">
      @for (trader of traders; track trader.id) {
        <app-trader-preview [traderPreview]="trader"></app-trader-preview>
      }
    </div>

    @if (isAddCardModalOpen) {
      <app-add-card-to-collection-modal
        [cardId]="displayedCard.id"
        (closeModal)="toggleAddCardModal()"
      >
      </app-add-card-to-collection-modal>
    }
  } @else {
    <p style="color: white;">Loading...</p>
  }
</div>
