.auth__text-input {
    color: $background-black-color;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 250px;

    label {
        font-weight: 600;
    }

    input {
        @include paragraph("Poppins Light");
        color: $background-black-color;
        height: 50px;
        border-radius: $border-radius-small;
        border: 2px solid $background-black-color;
        padding: 1rem;
        outline: none;

        &:focus {
            border: 2px solid $secondary-color;
        }
    }
}