.checkboxes {
  @include paragraph("Poppins Regular");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: $input-width-mobile;

  .checkboxes__labels {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.175rem;

    &-triple {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint('tablet') {
        flex-direction: row;
      }
    }

    label {
      display: block;
      width: 130px;
      text-align: start;
    }
  }

  @include breakpoint("desktop") {
    width: $input-width-desktop;
  }

  p {
    color: $white-color;
    font-weight: 600;
    text-align: left;
  }
}
