.checkBoxTitle{
   @include paragraph("Poppins Light");
   text-align: start;
   margin-top: 10px;
   margin-bottom: 10px;
   font-weight: 600;
   
}
/*.ng-untouched.ng-pristine .ng-valid{
  display: flex;

}

.ng-valid.ng-dirty.ng-touched{
  display : flex
}*/

/*.allCheckBoxes.ng-untouched.ng-pristine.ng-valid{
  display: flex;
  flex-direction: row;
}*/

#allCheckBoxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*@include breakpoint('tablet', 960) {
        flex-direction: column;
      };*/
  @include breakpoint('mobile', 960) {
        flex-direction: column;
      }
}

.checkbox {
  @include paragraph("Poppins Light");
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-left: 5px;
  margin-right: 5px;

  .checkbox__labels {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.175rem;

    &-triple {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint('tablet') {
        flex-direction: row;
      }
    }

    label {
      display: block;
      width: 130px;
      text-align: start;
    }
  }

  p {
    color: $white-color;
    font-weight: 600;
    text-align: left;
  }
}
