/********************************************
************** SCSS Variables ***************
********************************************/

// Font size
$button-font-size--mobile: $font-size-12;
$button-font-size--tablet: $font-size-14;
$button-font-size--desktop: $font-size-20;

// Height
$button-min-height--mobile: 30px;
$button-min-height--tablet: 40px;
$button-min-height--desktop: 50px;

// Padding
$button-padding-block--mobile: 5px;
$button-padding-block--tablet: 10px;
$button-padding-block--desktop: 15px;
$button-padding-sides: 20px;

/********************************************
************** Custom properties ************
********************************************/

:root {
  --button-font-size: #{$button-font-size--mobile};
  --button-min-height: #{$button-min-height--mobile};
  --button-padding-block: #{$button-padding-block--mobile};


  @include breakpoint('tablet') {
    --button-font-size: #{$button-font-size--tablet};
    --button-min-height: #{$button-min-height--tablet};
    --button-padding-block: #{$button-padding-block--tablet};
  }

  @include breakpoint('desktop') {
    --button-font-size: #{$button-font-size--desktop};
    --button-min-height: #{$button-min-height--desktop};
    --button-padding-block: #{$button-padding-block--desktop};
  }
}

.Button {
  font-family: "Poppins Regular", sans-serif;
  font-size: var(--button-font-size);
  padding: var(--button-padding-block);
  height: var(--button-min-height);
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
  border-radius: $border-radius-small;

  &[type="submit"] {
    font-size: $font-size-20;
    padding: $button-padding-sides;
  }

  &--primary {
    background-color: $white-color;
    color: $black-color;

    &:hover {
      background-color: $black-color;
      color: $white-color;
      outline: solid $white-color 3px;
    }
  }

  &--secondary {
    background-color: $black-color;
    color: $white-color;

    &:hover {
      background-color: $white-color;
      color: $black-color;
      outline: solid $black-color 3px;
    }
  }

  &[disabled] {
    color: $grey-color;
  }
}
