@import "scss/components/molecules/auth-form";

.input-errors {
    font-family: "Poppins Regular";
    color: $red-error-color;
    font-size: $font-size-10;
    position: absolute;
    top: 5px;
    width: $input-width-mobile;
    text-align: left;

    @include breakpoint("desktop") {
        font-size: $font-size-12;
        width: $input-width-desktop;
    }
}
