.Nav-link {
  @include header;
  color: $white-color;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $primary-color;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
