/********************************************
************** SCSS Variables ***************
********************************************/

// Modal width
$modal-card-width--mobile: 400px;
$modal-card-width--tablet: 500px;
$modal-card-width--desktop: 600px;

/********************************************
************** Custom properties ************
********************************************/

:root {
  --modal-card-width: #{$modal-card-width--mobile};

  @include breakpoint('tablet') {
    --modal-card-width: #{$modal-card-width--tablet};
  }

  @include breakpoint('desktop') {
    --modal-card-width: #{$modal-card-width--desktop};
  }
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__wrapper {
    width: 100%;
    height: 100%;
    background: $background-black-color;
    padding: 2rem;
    margin: 0;
    border-radius: $border-radius-medium;
  }

  &__card {
    background-color: $background-black-color;
    border: 2px solid $primary-color;
    width: 90%;
    width: var(--modal-card-width);
    color: #fff;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 255, 153, 0.3);
    border-radius: $border-radius-medium;

    &--gradient-border-md {
      @include gradient-border($border-radius-medium);
    }
  }

  &__subtitle {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  &__select-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  &__select-box {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    appearance: none;
  }

  &__checkbox-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
  }

  &__checkbox-label {
    @include paragraph("Poppins Regular");
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.9rem;
  }

  &__checkbox {
    accent-color: $primary-color;
    transform: scale(1.2);
  }

  &__close-btn {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: $primary-color;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }

    &:focus {
      outline: 2px solid $primary-color;
      outline-offset: 2px;
    }
  }
}
