.Header {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  background-color: $background-black-color;
  color: $white-color;
  padding: 0 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100%);
    height: 4px;
    background: $gradient-border;
  }

  &-logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  &-burger {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;

    span {
      height: 3px;
      background: $white-color;
      border-radius: 2px;
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &-Nav-links {
    display: none;
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;

    &.open {
      background-color: $background-black-color;
      display: flex;
    }

    .Nav-link {
      text-decoration: none;
      color: $white-color;
    }

    @include breakpoint(desktop) {
      display: flex;
      position: static;
      flex-direction: row;
      gap: 20px;

      &.open {
        display: flex;
      }
    }
  }
}
