<div class="page-inner">
  <h1 class="cards__title">cards</h1>
  <div class="cards__filter">
    <p class="cards__filter-label">SORT BY :</p>

    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Set"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Type"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Rarity"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="Color"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-select
      [options]="['Mint','Near mint','Excellent','Good','Light Played', 'Played', 'Poor']"
      placeholder="CCM"
      (valueChange)="onSortChange($event)">
    </app-select>
    <app-button [routerLink]="['/filters']">Advanced filter</app-button>
  </div>

  <div class="cards__container gradient-border-lg">
    <div class="cards__wrapper">
      @for (card of cards; track $index) {
        <div class="Card">
          <img [src]="card.imageSizeNormal" alt="" />
          <div class="Card__actions">
            <app-button (click)="openCardModal(card)">Add</app-button>
            <app-button (click)="goToCardDetail(card)">Detail</app-button>
          </div>
        </div>
      }
      @if (selectedCard) {
        <app-add-card-to-collection-modal
          [card]="selectedCard"
          (close)="closeModal()">
        </app-add-card-to-collection-modal>
      }
    </div>
  </div>
  <app-pager
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pager>
</div>
