/********************************************
************** SCSS Variables ***************
********************************************/

$input-width--mobile: 250px;
$input-width--tablet: 350px;
$input-width--desktop: 500px;
$gap: 2.5rem;

/********************************************
************** Custom properties ************
********************************************/

:root {
  --input-width: #{$input-width--mobile};


  @include breakpoint('tablet') {
    --input-width: #{$input-width--tablet};
  }

  @include breakpoint('desktop') {
    --input-width: #{$input-width--desktop};
  }
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: $gap;
    width: 100%;
    align-items: center;

    button {
        margin-top: -$gap;
    }
}

.auth {

    &__input {
      width: var(--input-width);
    }

  &__failure-message {
    @include paragraph("Poppins Regular");
    color: $red-error-color;
  }
}
