/********************************************
************** SCSS Variables ***************
********************************************/

// Card width
$card-img-width--mobile: 160px;
$card-img-width--tablet: 200px;
$card-img-width--desktop: 286px;

// Card-height
$card-height--mobile: calc(#{$card-img-width--mobile} * 1.395);
$card-height--tablet: calc(#{$card-img-width--tablet} * 1.395);
$card-height--desktop: calc(#{$card-img-width--desktop} * 1.395);

/********************************************
************** Custom properties ************
********************************************/

:root {
  --card-img-width: #{$card-img-width--mobile};
  --card-img-height: #{$card-height--mobile};

  @include breakpoint('tablet') {
    --card-img-width: #{$card-img-width--tablet};
    --card-img-height: #{$card-height--tablet};
  }

  @include breakpoint('desktop') {
    --card-img-width: #{$card-img-width--desktop};
    --card-img-height: #{$card-height--desktop};
  }
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: var(--card-img-width);
  transition: box-shadow 0.3s, transform 0.2s;

  img {
    @include gradient-border($border-radius-medium);

    width: var(--card-img-width);
    height: var(--card-img-height);
    border-radius: $border-radius-medium;
    margin-bottom: 0.5rem;
    object-fit: cover;
    transition: box-shadow 0.3s ease;
  }

  &:hover img {
    box-shadow: 0 0 15px 4px rgba(0, 255, 0, 0.5);
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__wishlist {
      align-self: center;
    }
  }
}
