// === Elements === //

* {
    box-sizing: border-box;
}

main {
    padding: 4rem 0 3rem;
    background-color: $background-black-color;
}

a {
    color: $secondary-color;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $primary-color;
        text-decoration: underline;
    }
}

// === Classes === //

.page-heading {
    text-align: center;
}

.gradient-border-sm {
    @include gradient-border($border-radius-small);
}

.gradient-border-md {
    @include gradient-border($border-radius-medium);
}

.gradient-border-lg {
    @include gradient-border($border-radius-large);
}
